$theme-color: #3385ff;
$c-text-w: #ffffff;
$c-text-E: #ECECEC;
$c-content-w: 1205PX;
$c-content-m: 375px;
$body-bg: #f7f7f7;



$cw: #fff; // color-white
$tc: #42b983; // text-color
$tch: #f55; //  text-color-hover
$bc: #42b983; // border-color
$cf1: #f1f1f1;
$cr: #f55;

@mixin global-border {
  border-radius: 4px;
  border: 1px solid $bc;
}

@mixin hover-able{
  cursor: pointer;
}
@mixin text-hover-dif{
  &:hover{
    background-color: $tch;
    border: 1px solid $tch;
    color: #fff;
  }
}
@mixin singleline{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin multiline{
  display: -webkit-box !important;
  overflow: hidden;
  
  text-overflow: ellipsis;
  word-break: break-all;
  
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@mixin sketch-box-border-shadow{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  &:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}