// 全局样式
@import "./_variable.scss";
@import "./normalize.css";
// 优先级 级别common.css > global.css

// 页面样式注意事项:
/*
  对于page内的css不在此地方引用 
  在views下的router里面的style标签引用
  example: (..view/user)
  <style lang="scss">
    @import '@/assets/scss/page/loginPage.scss';
  </style>
*/


*{
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.4286;
  background-color: $body-bg;
}
input {
  border: 0;  // 去除未选中状态边框
  outline: none; // 去除选中状态边框
  background-color: rgba(0, 0, 0, 0);// 透明背景
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid transparent;  //自定义边框
  outline: none;    //消除默认点击蓝色边框效果
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #eee;
  &:hover{
    background: #09f;
    color: #fff;
  }
}
ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
p{
  margin: 0;
}

// 清除浮动
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { zoom:1; }

// table
table{
  width: 100%;
}
th.table-cell{
  background-color: #f1f1f1;
  padding: 0;
}
td.table-cell{
  background-color: #fff;
  padding: 0;
}
th.table-cell, td.table-cell{
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  &.cell-check{
    width: 6%;
    input{
      cursor: pointer;
    }
  }
  // 主体信息
  &.cell-info{
    width: 46%;
  }
  &.cell-price, &.cell-count, &.cell-total, &.cell-opera,&.cell-status,&.cell-totalPayed{
    width: 12%;
  }
  &.cell-info-52{
    width: 52%;
  }
  // 二级产品项对齐
  &.cell-info-list{
    width: 76.07%;
    .cell-price,.cell-count{
      width: 15.753%;
    }
  }
  // 二级菜单
  .cell-info-sec{
    padding: 4px;
    margin-right: 10px;
    border-bottom: 1px solid #000;
  }
}

table input{
  max-width: 100px;
}


// 通用项... 
// 图片外层 
.img-wrap{
  width: 200px;
  height: 200px;
  display: inline-block;
  img{
    width: 100%;
    height: 100%;
  }
}
.prod-msg{
  display: flex;
  align-items: center;
  .img-wrap{
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .description{
    flex: 1;
    text-align: left;
  }
}

// 输入框外层
.input-wrap{
  display: inline-block;
  width: 100%;
  font-size: 0;
  input{
    @include global-border;
    font-size: 14px;
    width: calc(100% - 66px);
    display: inline-block;
    height: 36px;
    margin-right: 12px;
    padding: 2px 8px;
  }
  button{
    font-size: 14px;
    @include global-border;
  }
}


// flex 布局
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-item{
  flex: 1;
}

.overw20{
  width: calc(100% + 20px);
}
.mgr20{
  margin-right: 20px;
}
.mgb10{
  margin-bottom: 10px;
}

.price-symbol{
  display: inline-block;
  vertical-align: top;
  color: #f55;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  &::before{
    content: '￥';
    font-size: 14px;
    font-weight: normal;
  }
}
.bg-t{
  background-color: transparent;
}
// 白块 bd
.bd-wrap{
  border-radius: 4px;
  padding: 16px 20px;
  background-color: #fff;
  margin-bottom: 16px;
}
.bd-title{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #42b983;
  margin-bottom: 10px;
  padding-bottom: 7px;
}
.bd-content{
  margin-bottom: 10px;
}

// 底部操作部分
.operator-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  .select-all{
    width: 80px;
    text-align: center;
    cursor: pointer;
  }
  .delete-selected{
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  .total{
    width: 100px;
    flex: 1;
    text-align: right;
    line-height: 20px;
    margin-right: 20px;
  }
  .to-pay{
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #f55;
    color: #fff;;
  }
}





@import "./global.scss";
