// 全局样式
@import "./_variable.scss";
@import "./normalize.css";
@import url("http://at.alicdn.com/t/font_1874580_5fdwm4m4bnb.css");
@import "./icon.scss";
// 优先级 级别common.css > global.css

// 页面样式注意事项:
/*
  对于page内的css不在此地方引用 
  在views下的router里面的style标签引用
  example: (..view/user)
  <style lang="scss">
    @import '@/assets/scss/page/loginPage.scss';
  </style>
*/


*{
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.4286;
  background-color: $body-bg;
}
input {
  border: 0;  // 去除未选中状态边框
  outline: none; // 去除选中状态边框
  background-color: rgba(0, 0, 0, 0);// 透明背景
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid transparent;  //自定义边框
  outline: none;    //消除默认点击蓝色边框效果
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #eee;  
}
ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
p{
  margin: 0;
}

// 清除浮动
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { zoom:1; }

// 通用表格
table{
  width: 100%;
}
th.table-cell{
  background-color: #f1f1f1;
  padding: 0;
}

td.table-cell{
  background-color: #fff;
  padding: 0;
  border-left: 1px solid #f1f1f1;
  &:first-child{
    border:none;
  }
}
th.table-cell, td.table-cell{
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  &.cell-check{
    width: 6%;
    input{
      cursor: pointer;
    }
  }
  // 主体信息
  &.cell-info{
    width: 46%;
  }
  &.cell-price, &.cell-count, &.cell-total, &.cell-opera,&.cell-status,&.cell-totalPayed{
    width: 12%;
  }
  &.cell-opera{
    cursor: pointer;
  }
  &.cell-info-52{
    width: 52%;
  }
  // 二级产品项对齐
  &.cell-info-list{
    width: 76.07%;
    .cell-price,.cell-count{
      width: 15.753%;
    }
  }
  // 二级菜单
  .cell-info-sec{
    padding: 4px;
    margin-right: 10px;
    // border-bottom: 1px solid #f1f1f1;
    // &:last-child{
    //   border-bottom: none;
    // }
  }
}

table input{
  max-width: 100px;
}


// 通用项... 
// 图片外层 
.img-wrap{
  width: 200px;
  height: 200px;
  font-size: 0;
  vertical-align: top;
  display: inline-block;
  background-color: #f1f1f1;
  img{
    width: 100%;
    height: 100%;
  }
}

// 加载动画(简易)
.loading{
  display: inline-block;
  height: 48px;
  width: 48px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgb(150, 150, 150);
  animation: rotate 1s 0s infinite ease-in-out alternate;
}
@keyframes rotate {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(360deg); }
}


// 清单商品信息
.prod-msg{
  display: flex;
  align-items: center;
  padding: 16px;
  .img-wrap{
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .description{
    flex: 1;
    text-align: left;
    line-height: 20px;
  }
}

// 输入框外层
.input-wrap{
  display: inline-block;
  width: 100%;
  font-size: 0;
  input{
    @include global-border;
    font-size: 14px;
    width: calc(100% - 66px);
    display: inline-block;
    height: 36px;
    margin-right: 12px;
    padding: 2px 8px;
  }
  button{
    font-size: 14px;
    @include global-border;
  }
}


// flex 布局
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-item{
  flex: 1;
}

.overw20{
  width: calc(100% + 20px);
}
.mgr20{
  margin-right: 20px;
}
.mgb20{
  margin-bottom: 20px;
}

// 通用价格
.price-symbol{
  display: inline-block;
  vertical-align: top;
  color: #f55;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  &::before{
    content: '￥';
    font-size: 14px;
    font-weight: normal;
  }
}
.bg-t{
  background-color: transparent;
}
// 白块 bd
.bd-wrap{
  border-radius: 4px;
  padding: 16px 20px;
  background-color: #fff;
  margin-bottom: 16px;
}
.bd-title{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #42b983;
  margin-bottom: 10px;
  padding-bottom: 7px;
}
.bd-content{
  margin-bottom: 10px;
}

// 底部操作部分
.operation-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  height: 48px;
  .left{
    width: 240px;
  }
  .item{
    flex: 1;
    margin: 0 20px;
  }
  .buttons{

  }



  // 选择全部
  .select-all,.delete-selected{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
  }
  .total{
    display: block;
    text-align: right;
    line-height: 20px;
  }
  .gotoPreOrder-btn{
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #f55;
    color: #fff;;
    border: none;
  }
}





@import "./global.scss";
