
.global-title{
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid $bc;
  margin-bottom: 10px;
}
.global-bd{
  background-color: #fff;
  border-color: #fff;
  padding: 20px;
  width: 100%;
}

.page-wrap{
  width: 1200px;
  min-height: 200px;
  margin: 0 auto;
}


//全局 头部导航
.global-nav-bar{
  background-color: $tc;
}
.nav-item-wrap{
  display:inline-block;
  cursor: pointer;
  padding: 4px 16px;
  height: 32px;
  color: #eee;
  &:hover{
    background: $tch;
    color:#fff;
  }
}
// 全局搜索框
.global-search-wrap{
  padding: 16px 8px;
  .global-searchwrap-l, .global-searchwrap-r{
    float: left;
  }
  .global-searchwrap-r{
    // margin-top: 10px;
  }
  .logo293X44{
    width: 293px;
    height: 44px;
    margin-right: 20px;
  }
  .input-wrap{
    width: 600px;
  }
}

.bd-products-wrap{
  ul{
    li{
      float: left;
      width: 270px;
      cursor: pointer;
      margin: 0 20px 20px 0;
      text-align: center;
      &:nth-child(4n){
        margin-right: 0;
      }
      &:hover{
        background: #999;
      }
    }
  }
}


// 
.global-prod-sketch{
  display: block;
  padding: 10px 16px;
  .sketch-img{
    width: 100%;
  }
  .sketch-name{
    text-align: left;
    font-size: 20px;
    margin-bottom: 4px;
    @include singleline;
  }
  .sketch-desc{
    @include multiline;
    color: #999;
  }
}
// 全局模态框 及对话框
.full-layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
}
.layer-mask{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.modal-wrap, .dialog-content{
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 400px;
  height: 200px;
  margin: 0 auto;
}
.modal-footer{
  display:flex;
  flex-direction: row-reverse;
  button{
    margin-right: 20px;
  }
}