
.global-title{
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid $bc;
  margin-bottom: 10px;
}
.global-bd{
  background-color: #fff;
  border-color: #fff;
  padding: 20px;
  width: 100%;
}

.page-wrap{
  width: 1200px;
  min-height: 200px;
  margin: 0 auto;
}


//全局 头部导航
.global-nav-bar{
  background-color: $tc;
}
.nav-item-wrap{
  display:inline-block;
  vertical-align: top;
}
.wrap{
  display: inline-block;
  cursor: pointer;
  padding: 4px 16px;
  height: 32px;
  color: #eee;
  &.router{
    color: #333;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
}
// 全局搜索框
.global-search-wrap{
  padding: 16px 8px;
  .global-searchwrap-l, .global-searchwrap-r{
    float: left;
  }
  .global-searchwrap-r{
    // margin-top: 10px;
  }
  .logo293X44{
    width: 293px;
    height: 44px;
    margin-right: 20px;
  }
  .input-wrap{
    width: 600px;
  }
}
//  通用产品白块(首页,搜索列表页)
.prod-sketch{
  display: block;
  padding: 10px;
  .sketch-img{
    width: 100%;
    margin-bottom: 4px;
  }
  .sketch-msg{
    @include multiline;
    margin-bottom: 4px;
    height: 36px;
    overflow: hidden;
    .name{
      color: #333;
      margin-right: 2px;
    }
    .subtitle{
      color: #999;
    }
  }
  .sketch-price{
    display: block;
    line-height: 1;
    text-align: right;
  }
}


// 全局模态框 及对话框
.full-layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
}
.layer-mask{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 1;
}
.modal-wrap, .dialog-wrap{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  z-index: 10;
  margin-top: 20vh;
  max-height: 200px;
  .modal-content{
    font-size: 14px;
  }
  .modal-footer{
    font-size: 14px;
  }
}
// 成功提示
.success-tips{
  padding: 16px;
  background-color: #f0f9eb;
  border-radius: 4px;
  color: #67c23a;
  border-left: 5px solid #67c23a;
}
// 错误提示
.error-tips{
  padding: 16px;
  background-color: #fff6f7;
  border-radius: 4px;
  border-left: 5px solid #fe6c6f;
  color: #fe6c6f;
}
.dialog-footer, .modal-footer{
  display:flex;
  flex-direction: row-reverse;
  button{
    margin-right: 20px;
  }
}