//全局 头部导航
.global-nav-bar{
  background-color: $tc;
}
.nav-item-wrap{
  display:inline-block;
  cursor: pointer;
  padding: 4px 16px;
  height: 32px;
  color: #eee;
  &:hover{
    background: $hover-tc;
    color:#fff;
  }
}

// 全局搜索框
.global-search-wrap{
  height: 64px;
  padding: 4px 12px;
  .global-searchwrap-l, .global-searchwrap-r{
    float: left;
  }
  .global-searchwrap-r{
    margin-top: 10px;
  }
  .logo293X44{
    width: 293px;
    height: 44px;
    margin-right: 20px;
  }
  .input-wrap{
    width: 600px;
  }
}