// 分类
.category-wrap{
  width: 240px;
  height: 320px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  .category-1st-wrap{
    @include global-border;
    border-radius: unset;
    background-color: $tc;
    color: $cw;
    padding: 12px 0;
  }
  .category-2nd-wrap{
    overflow: hidden;
    width: 100%;
    height: 20px;
    line-height: 20px;
  }
  .category-2nd-item{
    @include hover-able;
    @include text-hover-dif;
    display: inline-block;
    padding: 1px 3px;
    vertical-align: top;
    margin-right: 20px;
    color: $cw;
  }
}

.home-swiper{
  display: inline-block;
  vertical-align: top;
  .img-wrap{
    width: 950px;
    height: 320px;
  }
}

// 楼层
.category-floor{
  width: 1200px;
  overflow: hidden;
  height: 350px;
  &.double-deck{
    height: 692px;
  }
}
.category-item{
  float: left;
  width: 224px;
  height: 336px;
  border-radius: 8px;
  background: #fff;
  // &:hover{
  //   cursor: pointer;
  //   background: $tc;
  //   color: #fff;
  // }
}