//  产品详情
// head
.pmsg-wrap{

}

.pmsg-header{
  font-size: 0;
  width: 100%;
  .msg-head-l,.msg-head-r{
    font-size: 14px;
    display: inline-block;
    vertical-align:top;
  }
  .msg-head-l{
    width: 400px;
    height: 580px;
    padding-right: 20px;
  }
  .msg-head-r{
    width: calc(100% - 400px);
    height: 580px;
    background: #ddd;
  }
}

.pmsg-content{
  border-top: 2px solid #000;;
  padding: 10px;
  margin-top: 10px;
  p{
    text-align: center;
    margin: 0 auto;
  }
  img{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}


.minImages-wrap{
  width:  400px;
  height: 120px;
  overflow: hidden;
}
.bigImages{
  width: 400px;
  height: 400px;
}
.minImages{
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 8px;
}
.add-cart{
  height: 48px;
  padding: 12px 24px;
  background: #09f;
  color: #fff;
  text-align: center;
  border: none;;
}


//  产品详情  end