//  产品详情
// head
.pmsg-wrap{

}

.pmsg-header{
  font-size: 0;
  width: 100%;
  .msg-head-l,.msg-head-r{
    font-size: 14px;
    display: inline-block;
    vertical-align:top;
  }
  .msg-head-l{
    width: 420px;
    height: 500px;
    padding-right: 20px;
    font-size: 0;
  }
  .msg-head-r{
    width: calc(100% - 420px);
    height: 500px;
    background: $cw;
  }
}

.products-msgs{
  padding: 10px 16px;
  &>li{
    margin-bottom: 4px;
  }
  .pd-name{
    font-size: 20px;
    font-weight: bold;
  }
  .pd-desc{
    font-size: 14px;
    color: #666;
  }
  .pd-price{
    background-color: #eee;
    height: 32px;
    line-height: 32px;
  }
  label{
    display: inline-block;
    min-width: 40px;
  }
}


.pmsg-content{
  border-top: 2px solid #000;;
  padding: 10px;
  margin-top: 10px;
  p{
    text-align: center;
    margin: 0 auto;
  }
  img{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.minImages-container{
  width:  420px;
  height: 80px;
  overflow: hidden;
}
.minImages-wrap{

  white-space: nowrap;
  overflow: auto;
}
.bigImages{
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}
.minImages{
  width: 80px;
  height: 80px;
  // float: left;
  display: inline-block;
  margin-right: 8px;
}
.add-cart{
  height: 48px;
  padding: 12px 24px;
  background: #09f;
  color: #fff;
  text-align: center;
  border: none;;
}


//  产品详情  end